nav {
    height: 7.5vh;
}

.centered-label {
    height: 92.5vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("/background.jpg");
    background-size: cover;
    animation: slidein 60s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

    .centered-label h1 {
        text-align: center;
        color: black;
        font-family: 'Source Code';
        text-transform: uppercase;
        font-size: 6rem;
    }

@keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }
}

.horizontal-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grid-items {
    display: flex;
    flex-wrap: wrap;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.default-img-size {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.edge-pressed {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.horizontal-items {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.horizontal-space-evenly {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex {
    display: flex;
}

.topnav {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
        .topnav a:hover {
            background: rgba(0,0,0,0);
            color: #3a7999;
            box-shadow: inset 0 0 0 3px #3a7999;
        }
        .topnav a.active {
            background-color: #4CAF50;
            color: white;
        }
.topnav-right {
    float: left;
}




.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
} 
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }     
        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
* {box-sizing: border-box}





.container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
}


input,
.btn {
 
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; 
}

input:hover,
.btn:hover {
  opacity: 1;
}


.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}


input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}


.inner {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}


.hide-md-lg {
  display: none;
}


.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}


@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
 
  .vl {
    display: none;
  }
  
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}